node-red-backend/flow-clipboard-oslo.json
[{"id":"a914aa83.f4ea98","type":"tab","label":"bysykkelOslo","disabled":false,"info":""},{"id":"caa4b34b.64bbf","type":"inject","z":"a914aa83.f4ea98","name":"hentBysykkelStasjoner","topic":"","payload":"{\"id\":\"test\"}","payloadType":"json","repeat":"3600","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":120,"wires":[["5b19e768.c02e98"]]},{"id":"5b19e768.c02e98","type":"file in","z":"a914aa83.f4ea98","name":"","filename":"/home/jan/.node-red/bysykkel-credentials.json","format":"utf8","chunk":false,"sendError":false,"x":520,"y":120,"wires":[["8c223ff4.cc711"]]},{"id":"8c223ff4.cc711","type":"json","z":"a914aa83.f4ea98","name":"","property":"payload","action":"","pretty":false,"x":190,"y":180,"wires":[["bd42671a.5298c8"]]},{"id":"bd42671a.5298c8","type":"function","z":"a914aa83.f4ea98","name":"","func":"msg.headers = {};\nmsg.headers['Client-Identifier'] = msg.payload.key_oslobysykkel;\nreturn msg;\n","outputs":1,"noerr":0,"x":370,"y":180,"wires":[["e3c7bba1.da2228"]]},{"id":"e3c7bba1.da2228","type":"http request","z":"a914aa83.f4ea98","name":"","method":"GET","ret":"obj","url":"https://oslobysykkel.no/api/v1/stations","tls":"","x":530,"y":180,"wires":[["4588161d.9a3498"]]},{"id":"4588161d.9a3498","type":"split","z":"a914aa83.f4ea98","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":180,"y":260,"wires":[["73741f93.5d944"]]},{"id":"73741f93.5d944","type":"split","z":"a914aa83.f4ea98","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":330,"y":260,"wires":[["47e8493d.370af8"]]},{"id":"5b3c9557.456d7c","type":"mongodb out","z":"a914aa83.f4ea98","mongodb":"14bb2ea4.f7b331","name":"","collection":"stasjoner_oslo","payonly":true,"upsert":false,"multi":false,"operation":"store","x":800,"y":260,"wires":[]},{"id":"e37901ac.ed993","type":"inject","z":"a914aa83.f4ea98","name":"hentstasjonstatus","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":480,"wires":[["2d3b4845.8eb548"]]},{"id":"2d3b4845.8eb548","type":"file in","z":"a914aa83.f4ea98","name":"","filename":"/home/jan/.node-red/bysykkel-credentials.json","format":"utf8","chunk":false,"sendError":false,"x":420,"y":480,"wires":[["81ca4272.b49c3"]]},{"id":"81ca4272.b49c3","type":"json","z":"a914aa83.f4ea98","name":"","property":"payload","action":"","pretty":false,"x":710,"y":480,"wires":[["c87f691.cd16f98"]]},{"id":"c87f691.cd16f98","type":"function","z":"a914aa83.f4ea98","name":"","func":"msg.headers = {};\nmsg.headers['Client-Identifier'] = msg.payload.key_oslobysykkel;\nreturn msg;\n","outputs":1,"noerr":0,"x":830,"y":480,"wires":[["843fabd5.ec8c88"]]},{"id":"843fabd5.ec8c88","type":"http request","z":"a914aa83.f4ea98","name":"","method":"GET","ret":"obj","url":"https://oslobysykkel.no/api/v1/stations/availability","tls":"","x":190,"y":540,"wires":[["48345c68.60bb84"]]},{"id":"48345c68.60bb84","type":"function","z":"a914aa83.f4ea98","name":"","func":"msg.payload = msg.payload.stations; \nreturn msg;","outputs":1,"noerr":0,"x":370,"y":540,"wires":[["f1689aa6.86b218"]]},{"id":"f1689aa6.86b218","type":"split","z":"a914aa83.f4ea98","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":510,"y":540,"wires":[["46ee765f.094638"]]},{"id":"47e8493d.370af8","type":"change","z":"a914aa83.f4ea98","name":"","rules":[{"t":"set","p":"payload._id","pt":"msg","to":"payload.id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":260,"wires":[["5b3c9557.456d7c"]]},{"id":"46ee765f.094638","type":"change","z":"a914aa83.f4ea98","name":"","rules":[{"t":"set","p":"status","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload._id","pt":"msg","to":"status.id","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":540,"wires":[["6d38615e.04052"]]},{"id":"6d38615e.04052","type":"mongodb in","z":"a914aa83.f4ea98","mongodb":"14bb2ea4.f7b331","name":"","collection":"stasjoner_oslo","operation":"find","x":180,"y":620,"wires":[["a4e82afa.a59c48"]]},{"id":"a4e82afa.a59c48","type":"change","z":"a914aa83.f4ea98","name":"","rules":[{"t":"set","p":"stasjoninfo","pt":"msg","to":"payload","tot":"jsonata"},{"t":"set","p":"lat","pt":"msg","to":"payload.center.latitude","tot":"jsonata"},{"t":"set","p":"lon","pt":"msg","to":"payload.center.longitude","tot":"jsonata"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":620,"wires":[["a8bebc9d.921cd"]]},{"id":"a8bebc9d.921cd","type":"change","z":"a914aa83.f4ea98","name":"","rules":[{"t":"set","p":"payload.properties","pt":"msg","to":"stasjoninfo[0]","tot":"jsonata"},{"t":"set","p":"payload.geometry","pt":"msg","to":" {     \"type\": \"Point\",     \"coordinates\": [ msg.lon, msg.lat]   }","tot":"jsonata"},{"t":"set","p":"payload.type","pt":"msg","to":"\"Feature\"","tot":"str"},{"t":"delete","p":"payload.properties._id","pt":"msg"},{"t":"delete","p":"payload.properties.center","pt":"msg"},{"t":"delete","p":"payload.properties.bounds","pt":"msg"},{"t":"set","p":"payload.properties.bikes","pt":"msg","to":"msg.status.availability.bikes","tot":"jsonata"},{"t":"set","p":"payload.properties.locks","pt":"msg","to":"status.availability.locks","tot":"jsonata"},{"t":"set","p":"payload.properties.Updated","pt":"msg","to":"msg.headers.date","tot":"jsonata"},{"t":"set","p":"payload.type","pt":"msg","to":"Feature","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":620,"wires":[["5bf2d069.7f7fb"]]},{"id":"5bf2d069.7f7fb","type":"join","z":"a914aa83.f4ea98","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":370,"y":720,"wires":[["60b2515f.32b2d"]]},{"id":"60b2515f.32b2d","type":"function","z":"a914aa83.f4ea98","name":"","func":"var myarr = []; \nvar mydict = {}; \nvar arrayLength = msg.payload.length;\nfor (var i = 0; i < arrayLength; i++) {\n    if (msg.payload[i].properties.title) {\n        myarr.push( msg.payload[i])\n    } \n}\n\nmydict['type'] = \"FeatureCollection\";\nmydict['features'] = myarr; \nmsg.payload = mydict; \n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":720,"wires":[["a9ccc14c.e330c"]]},{"id":"a9ccc14c.e330c","type":"file","z":"a914aa83.f4ea98","name":"","filename":"/var/www/html/bysykkelREST/oslobysykkel.geojson","appendNewline":false,"createDir":false,"overwriteFile":"true","x":440,"y":800,"wires":[[]]},{"id":"14bb2ea4.f7b331","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"trhbysykkel","name":"localmongodb"}]