node-red-backend/flow-clipboard-trondheim.json
[{"id":"93533966.990f88","type":"tab","label":"bysykkelTrondheim","disabled":false,"info":""},{"id":"229babc3.4e3494","type":"inject","z":"93533966.990f88","name":"hentBysykkelStasjoner","topic":"","payload":"{\"id\":\"test\"}","payloadType":"json","repeat":"3600","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":140,"wires":[["4acd1cc0.f00a64"]]},{"id":"4acd1cc0.f00a64","type":"http request","z":"93533966.990f88","name":"bysykkelstasjon","method":"GET","ret":"obj","url":"http://gbfs.urbansharing.com/trondheim/station_information.json","tls":"","x":380,"y":20,"wires":[["920c07ba.39cbe8"]]},{"id":"33a8e2ca.f7633e","type":"mongodb out","z":"93533966.990f88","mongodb":"33b1a1e3.53bc3e","name":"lagreStasjoner","collection":"stasjoner_trh","payonly":true,"upsert":true,"multi":true,"operation":"store","x":740,"y":60,"wires":[],"inputLabels":["msg.payload"]},{"id":"920c07ba.39cbe8","type":"split","z":"93533966.990f88","name":"","splt":"","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":370,"y":80,"wires":[["6948d9fa.cdaf38"]]},{"id":"6948d9fa.cdaf38","type":"split","z":"93533966.990f88","name":"","splt":"","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":370,"y":120,"wires":[["9e29827f.85027"]]},{"id":"9e29827f.85027","type":"split","z":"93533966.990f88","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":370,"y":160,"wires":[["b13016fe.fda9c8"]]},{"id":"b13016fe.fda9c8","type":"change","z":"93533966.990f88","name":"","rules":[{"t":"set","p":"payload._id","pt":"msg","to":"payload.station_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":200,"wires":[["33a8e2ca.f7633e"]]},{"id":"7d18aeaf.5fda9","type":"http request","z":"93533966.990f88","name":"","method":"GET","ret":"obj","url":"http://gbfs.urbansharing.com/trondheim/station_status.json","tls":"","x":340,"y":360,"wires":[["58508ac5.e4a944"]]},{"id":"413b7f15.dceb4","type":"inject","z":"93533966.990f88","name":"","topic":"","payload":"","payloadType":"date","repeat":"4","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":400,"wires":[["7d18aeaf.5fda9"]]},{"id":"58508ac5.e4a944","type":"split","z":"93533966.990f88","name":"","splt":"","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":330,"y":400,"wires":[["6e2be2f3.56b85c"]]},{"id":"6e2be2f3.56b85c","type":"split","z":"93533966.990f88","name":"","splt":"","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":330,"y":440,"wires":[["ad841edd.07d"]]},{"id":"ad841edd.07d","type":"split","z":"93533966.990f88","name":"","splt":"","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":330,"y":480,"wires":[["90bd4a2d.c10318"]]},{"id":"90bd4a2d.c10318","type":"change","z":"93533966.990f88","name":"","rules":[{"t":"set","p":"stasjonstatus","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":540,"wires":[["25d07972.d1d746"]]},{"id":"6e1006fe.8c0b28","type":"mongodb in","z":"93533966.990f88","mongodb":"33b1a1e3.53bc3e","name":"","collection":"stasjoner_trh","operation":"find","x":380,"y":740,"wires":[["b6625cce.028c1"]]},{"id":"dbde3205.6941e","type":"change","z":"93533966.990f88","name":"","rules":[{"t":"set","p":"payload._id","pt":"msg","to":"msg.stasjonstatus.station_id","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":660,"wires":[["6e1006fe.8c0b28"]]},{"id":"25d07972.d1d746","type":"change","z":"93533966.990f88","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"_id\" : \"\" }","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":600,"wires":[["dbde3205.6941e"]]},{"id":"b6625cce.028c1","type":"change","z":"93533966.990f88","name":"","rules":[{"t":"set","p":"stasjoninfo","pt":"msg","to":"payload[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":740,"wires":[["3c1c67c3.a044e8"]]},{"id":"3c1c67c3.a044e8","type":"change","z":"93533966.990f88","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"type\":\"Feature\",\"geometry\":{\"type\":\"Point\",\"coordinates\":[]},\"properties\":{}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":660,"wires":[["39ee1b68.438d34"]]},{"id":"39ee1b68.438d34","type":"change","z":"93533966.990f88","name":"","rules":[{"t":"set","p":"payload.properties","pt":"msg","to":"stasjonstatus","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":600,"wires":[["abbe8d63.292d7"]]},{"id":"abbe8d63.292d7","type":"change","z":"93533966.990f88","name":"","rules":[{"t":"set","p":"payload.geometry.coordinates","pt":"msg","to":"[ msg.stasjoninfo.lon, msg.stasjoninfo.lat]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":560,"wires":[["ef7f4ed3.8276b"]]},{"id":"ef7f4ed3.8276b","type":"change","z":"93533966.990f88","name":"","rules":[{"t":"set","p":"payload.properties.number_of_locks","pt":"msg","to":"msg.stasjoninfo.capacity","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":520,"wires":[["130f0e1a.f17032"]]},{"id":"130f0e1a.f17032","type":"change","z":"93533966.990f88","name":"","rules":[{"t":"set","p":"payload.properties.subtitle","pt":"msg","to":"msg.stasjoninfo.address","tot":"jsonata"},{"t":"set","p":"payload.properties.title","pt":"msg","to":"msg.stasjoninfo.name","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":460,"wires":[["ffbd1dc1.4c5db"]]},{"id":"ffbd1dc1.4c5db","type":"change","z":"93533966.990f88","name":"","rules":[{"t":"move","p":"payload.properties.num_bikes_available","pt":"msg","to":"payload.properties.bikes","tot":"msg"},{"t":"move","p":"payload.properties.num_docks_available","pt":"msg","to":"payload.properties.locks","tot":"msg"},{"t":"move","p":"payload.properties.station_id","pt":"msg","to":"payload.properties.id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":400,"wires":[["cae3b858.1e7138"]]},{"id":"cae3b858.1e7138","type":"function","z":"93533966.990f88","name":"","func":"var mindato = new Date( msg.payload.properties.last_reported * 1000);\nvar mindatotxt = mindato.toUTCString();\nmsg.payload.properties.Updated = mindatotxt;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":340,"wires":[["dc857de6.0443a"]]},{"id":"dc857de6.0443a","type":"join","z":"93533966.990f88","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":630,"y":280,"wires":[["b04303ae.453e3"]]},{"id":"b04303ae.453e3","type":"function","z":"93533966.990f88","name":"","func":"var myarr = []; \nvar mydict = {}; \nvar arrayLength = msg.payload.length;\nfor (var i = 0; i < arrayLength; i++) {\n    if (msg.payload[i].properties.title) {\n        myarr.push( msg.payload[i])\n    } \n}\n\nmydict['type'] = \"FeatureCollection\";\nmydict['features'] = myarr; \nmsg.payload = mydict; \n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":320,"wires":[["35eb32e9.7ec22e"]]},{"id":"35eb32e9.7ec22e","type":"file","z":"93533966.990f88","name":"","filename":"/var/www/html/bysykkelREST/trhbysykkel.geojson","appendNewline":false,"createDir":false,"overwriteFile":"true","x":990,"y":260,"wires":[[]]},{"id":"33b1a1e3.53bc3e","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"trhbysykkel","name":"localmongodb"}]